<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="{{ STATIC_URL }}css/bootstrap/css/bootstrap.css" rel="stylesheet">
    {% block javascripts %}
        <script src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
	<script type="text/javascript"
	   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGKPqbynY7bkvkZgdopncSf4lF7H3SZE0&sensor=false"></script>	
	
	<script type="text/javascript">
		var csrftoken = $.cookie('csrftoken');

		function csrfSafeMethod(method) {
		    // these HTTP methods do not require CSRF protection
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		function sameOrigin(url) {
		    // test that a given url is a same-origin URL
		    // url could be relative or scheme relative or absolute
		    var host = document.location.host; // host + port
		    var protocol = document.location.protocol;
		    var sr_origin = '//' + host;
		    var origin = protocol + sr_origin;
		    // Allow absolute or scheme relative URLs to same origin
		    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
			(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
			// or any other URL that isn't scheme relative or absolute i.e relative.
			!(/^(\/\/|http:|https:).*/.test(url));
		}

		$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
			if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
			    // Send the token to same-origin, relative URLs only.
			    // Send the token only if the method warrants CSRF protection
			    // Using the CSRFToken value acquired earlier
			    xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		    }
		});
	</script>
	<script src="{{ STATIC_URL }}js/maps.js"></script>
	{% endblock javascripts %}

</head>

<body style="background-color:#e3e3e3">
    {% include 'navbar.html' %}
    <div class="container" style="background-color:#ffffff;">
        {% block content %} {% endblock content %}
    </div>
</body>
</html>
